* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* utility class */
.clearfix::after  {
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.conteiner {
    max-width: 1000px;
    margin: 0 auto;
}
.aligh-right {
    width: 90%;
    position: absolute;
    right: 0;
    top: 40px;
} 

.aligh-left {
    width: 90%;
    position: absolute;
    left: 0;
    top: 40px;
}

li {
    list-style: none;
}

section .img, section .text {
    margin-top: 100px;
    color: #333;
}

section .img {
    width: 65%;
}

section .text {
    width: 35%;
}

section .box-relative {
    position: relative;
}

section .img img {
    width: 100%;
}

section .text h2 {
    font-size: 40px ;
    margin-bottom: 10px;

}

section .text p {
    font-size: 16px ;

}



/* end utility class */

.back {
    background-image: url(../img/jumbo.png);
    height: 500px;
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* leyout nav  */
nav {
    padding-top: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}


ul {
    line-height: 34px;
}


nav .logo, nav .login {
    width: 25%;
    height: 34px;
}

nav .login {
    text-align: right;
}

nav .login a {
    text-decoration: none;
    color: black;
    border-radius: 15px;
    padding: 8px;
    background-color: white;
}

nav .menu {
    width: 50%;
    height: 34px;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav .menu li {
    margin: 0 10px;
}


/* leyout testo centrato  */
.text-center {
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.text-center h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-center p {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.botton {
    display: inline-block;
    border-radius: 30px;
    font-size: 20px;
    margin: 0 20px;
    padding: 20px;
}

.dowload {
    background-color: white;
    color: black;
}

.open-web {
    background-color: black;
    color: white;
}

.dowload span {
    font-size: 14px;
}

/* leyout flot main  */

.four-part {
    text-align: center;
    margin-top: 100px;
    color: #333;

}

.four-part h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.four-part p {
    font-size: 16px;
}
.last-part {
    text-align: center;
}

.star{
 
    margin-top: 50px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center ;
    height: 30px;

}

.last-part h3 {
    font-size: 20px;
    margin-bottom: 10px;
}



.dowload-2 {
    background-color: pink;
    color: white;
}

/* leyout footer  */

footer {
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: #333 ;
}


